/* https://fonts.google.com/?safe=active&safe=active */
@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Merriweather:ital,wght@1,300&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Merriweather:ital,wght@1,300&family=Playfair+Display:wght@500&display=swap');
:root{
    --font-header: 'Caramel', cursive;
    --font-content: 'Playfair Display', serif;
    --font-text: 'Merriweather', serif;
    --dark: #304659;
    --dark80: rgba(48,70,89,.8);
    --dark60: rgba(48,70,89,.6);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For desktop */
body{
    font-family: var(--font-content) ;
    min-height: 100%;
    margin: 0;
}

header{
    background: url('../images/marmor.jpg');
    background-position: center;
    background-repeat: 0;
    background-size: cover;
}

.milano-header{
    text-align: center;
    font-family:var(--font-header);
    font-size: 80px;
}

.milano-header a{
    text-decoration: none;
    color:black;
}

.milano-nav ul{
    display:flex;
    justify-content: center;
    list-style: none;
    background-color: #C7A445;
    padding: 20px;
    font-size: 25px;
}

.milano-nav li{
    margin: 0 40px;
}

.milano-nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.milano-nav li a:hover{
    opacity: .6;
}

.milano-welcome{
background: linear-gradient(
    var(--dark60),
    var(--dark60)
),url('../images/restaurang.jpg');
background-position: center;
background-repeat: 0;
background-size:cover ;
height: 800px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}

.milano-logo{
text-align:center;
font-family: var(--font-header);
font-size: 110px;
}

.milano-welcome-head{
font-size:90px;
margin-top:100px;
}

.milano-welcome-text{
    font-size: 20px;
    width: 950px;
    font-family: var(--font-text);
    font-weight: bold;
}

.milano-welcome-2{
    background:linear-gradient(
        var(--dark60),
        var(--dark60)), 
        url('../images/pasta-scratch.jpeg');
    background-position: right;
    background-repeat: 0;
    background-size:cover ;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.milano-welcome-2 .milano.side{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.milano-pasta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pasta-head{
    font-size: 60px;    
    margin-bottom: 20px;
}

.pasta-text {
line-height: 2rem;
max-width: 900px;
font-size: 20px;
color: rgb(255, 255, 255);
font-weight: bold;
font-family: var(--font-text);
}

/* .milano-offer{
    display: flex;
    justify-content: center;
    margin: 30px auto;  
}

.milano-offer img{
    border-radius: 10px;
    height: 300px;
    border: 3px solid goldenrod;
}

.milano-offer-info{
    margin-left: 100px;
    max-width: 700px;
}

.kundernas-favo{
    display: flex;
    vertical-align: top;
    
 }
  */
input[type="button"] {
    background-color: rgb(38, 105, 55);
    width: 300px;
    margin: 120px 0;
    padding: 25px 10px;
    border-radius: 50px;
    border: 2px solid rgb(41, 46, 41);
   cursor: pointer;
   font-size: 18px;
}

input[type="button"]:hover {
    background-color: rgb(33, 66, 41);
}

footer{
   margin-top: auto;
   background:url('../images/marmor.jpg') ;
   background-position: center;
   background-repeat: 0;
   background-size: cover;
   display: flex;
   justify-content: center;
}

footer section{
    padding: 10px 60px;
    margin: auto 100px;
}

.milano-footer-time {
    margin-right: 70px;
}

/* For Pads */
@media only screen and (min-width:769px) and (max-width:1140px){
.milano-nav ul{
  font-size: 25px;
  text-align: center;
 }
 
 .milano-nav li{
     margin: auto 35px;
 }

 .milano-nav ul {
     padding: 30px;
 }
  .milano-welcome{
      height: 850px;
      }
  
  
  .milano-logo{
      font-size: 90px;
      display: flex;
  justify-content: center;    
  }
      
      .milano-welcome-head{
      font-size:65px;
      margin:30px 30px;
      }
      
      .milano-welcome-text{
          font-size: 22px;
          width: 600px;
          line-height: 1.9rem;
          text-align: center;
      }
      
      .milano-welcome-2{
          height: 850px;  
      }
      
      .Pasta-head{
          font-size: 50px;    
      }
      
      .pasta-text {
      line-height: 2.2rem;
      max-width: 600px;
      font-size: 22px;
      font-weight: lighter;
      }
      
      input[type="button"] {
          width: 320px;
          margin: 60px 0;
      }
      
      footer section{
          padding: 10px 10px;
          margin: auto 50px;
      }
  }

/* For phone */
@media (max-width:768px) {
  .milano-nav ul{
Display:block;
font-size: 25px;
text-align: center;
}

.milano-welcome{
    height: 700px;
    }


.milano-logo{
    font-size: 60px;
    display: flex;
justify-content: center;    
}
    
    .milano-welcome-head{
    font-size:40px;
    margin:50px 50px;
    }
    
    .milano-welcome-text{
        font-size: 18px;
        width: 370px;
        line-height: 1.9rem;
        text-align: center;
    }
    
    .milano-welcome-2{
        height: 850px;  
    }
    
    .Pasta-head{
        font-size: 30px;    
    }
    
    .pasta-text {
    line-height: 1.9rem;
    max-width: 350px;
    font-size: 18px;
    font-weight: lighter;
    }
    
    input[type="button"] {
        width: 200px;
        margin: 50px 0;
    }
    
    footer section{
        padding: 50px 5px;
        margin: auto;
    }
}

