/* https://fonts.google.com/?safe=active&safe=active */
@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Merriweather:ital,wght@1,300&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
:root{
    --font-header: 'Caramel', cursive;
    --font-content: 'Playfair Display', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-content) ;
    min-height: 100%;
    margin: 0;
}

header{
    background: url('../images/marmor.jpg');
    background-position: center;
    background-repeat: 0;
    background-size: cover;
}

.milano-header{
    text-align: center;
    font-family:var(--font-header);
    font-size: 80px;
}

.milano-header a{
    text-decoration: none;
    color:black;
}

.milano-nav ul{
    display:flex;
    justify-content: center;
    list-style: none;
    background-color: #C7A445;
    padding: 20px;
    font-size: 25px;
}

.milano-nav li{
    margin: 0 40px;
}

.milano-nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.milano-nav li a:hover{
    opacity: .8;
}

.container{
    
    width:fit-content;
    height:fit-content;

    font-family:monospace;
    font-size: 20px;
    font-weight: bold;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header{
    
    font-weight:bold;
    font-style:italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:50px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
}

.meny-1, 
.meny-2,
.meny-3,
.meny-4,
.meny-5,
.meny-6{
    margin:  30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: lighter;
}

i{
    margin-top:  30px;
    grid-column-start: 5;
    grid-column-end: 6;
}


footer{
    margin-top: auto;
    background:url('../images/marmor.jpg') ;
    background-position: center;
    background-repeat: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
 }
 
 footer section{
     padding: 10px 60px;
 }
 
 .milano-footer-time {
     margin-right: 70px;
 }